base_url=http://localhost:8080
keycloak_url=http://localhost:8081
realm=wager-challenge

internal_client_id=internal-service
internal_client_secret=internal-service-local-secret

provider_a_client_id=provider-a
provider_a_client_secret=provider-a-local-secret

provider_b_client_id=provider-b
provider_b_client_secret=provider-b-local-secret
